artifacts
node_modules
cache
yarn-error.log

*.private.json
./networks.private.json
typechain

.DS_Store
.env
.env.*

package-lock.json

coverage.json
coverage

deployments/goerli/solcInputs/
deployments/mainnet/solcInputs/
